{% extends 'exam/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	    <script src="{% static 'exam/js/print.js' %}"></script>

		<title>Result</title>

	
</head>
<body>
	<br><a href="{% url 'result' %}" style="color:blue;">Back</a><br>
	<div id="printableArea">
	<h3> <span class="badge badge-secondary">Result</span></h3>	
		
	<table class="table table-sm">  
	  <tbody>	    
	      
	      	{% for key,value in marks %}
	      	<tr>
	      		{% if value != 'F' and value != '' %}
					<td class="table-success">{{ key }} </td>			
					<td class="table-success">{{ value }} </td>			
				{% elif value != '' %}
					<td class="table-danger">{{ key }} </td>	
					<td class="table-danger">{{ value }} </td>				
				{% endif %}
			</tr>
			{% endfor %}
	  </tbody>
	</table>
	</div>
		<center>
             <button class="btn btn-primary hidden-print" onclick="printPageArea('printableArea')"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
	    </center>
</body>
</html>	
{%endblock content%}
