{% extends 'exam/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	    <script src="{% static 'exam/js/print.js' %}"></script>

		<title>Syllabus</title>

	
</head>
<body>
	<a href="{% url 'home' %}" style="color:blue;">Back</a>
	<h3> <span class="badge badge-secondary">Syllabus</span></h3>
	<div class="list-group">	
	{% for syl in syllabus %}	
		{% if syl.file %}
			<a href="/{{ syl.file }}/" class="list-group-item list-group-item-action list-group-item-info">{{ syl.title }}</a>
		{% else %}
			<a class="list-group-item">{{ syl.title }}</a>
		{% endif %}
	{% endfor %}
	</div>
		
</body>
</html>	
{%endblock content%}